

table tr td {
  vertical-align: middle;
}

td button {
  margin: 5px;
}

td button i {
  font-size: 20px;
}

.modal-header {
  background-color: #0d6efd;
  color: #fff;
}

.modal-body form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.modal-body form .inputField {
  flex-basis: 68%;
  border-left: 5px groove #0d6efd;
  padding-left: 20px;
}

form .inputField > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

form .inputField > div label {
  font-size: 20px;
  font-weight: 500;
}

#Userform form .inputField > div label::after {
  content: "*";
  color: red;
}

form .inputField > div input {
  width: 75%;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #0d6efd;
}

#readData form .inputField > div input {
  color: #000;
  font-size: 18px;
}
